.top-footer {
  background-color: #271c47;
  padding: 35px 16px;
}

.top-footer h2 {
  font-size: 32px;
  line-height: 35px;
  font-weight: 600;
  margin-bottom: 14px;
}

.top-footer p {
  line-height: 18px;
  font-size: 14px;
  font-weight: 300;
}

.top-footer h2,
.top-footer p {
  color: #fff;
}

.top-footer__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.input-group label {
  color: #fff;
}

.input-group__input[type='text'],
.input-group__input[type='email'] {
  border-radius: 8px;
  background-color: #fff;
  padding: 12px 24px;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  transition: 0.3s ease;
  width: 100%;
}

.input-group__input:active,
.input-group__input:focus {
  outline-color: #f7ca11;
  outline-width: 2px;
  outline-style: solid;
}

.input-group__input::placeholder {
  color: #676767;
}

input[type='submit'] {
  border-radius: 8px;
  background-color: #f7ca11;
  padding: 15px 40px;
  color: #161615;
  font-size: 14px;
  font-weight: 600;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s ease;
}

input[type='submit']:hover {
  background-color: #a8890b;
}

.input-group--custom {
  gap: 5px;
  margin-top: 15px;
  flex-direction: row;
  align-items: center;
}

footer {
  background-color: #f4f4f4;
}

.footer-container {
  display: flex;
  flex-direction: column;
  padding: 42px 16px;
}

.footer-container .left {
  display: flex;
  flex-direction: column;
}

.footer-container .left > img {
  height: 48px;
  width: 164px;
  margin-bottom: 18px;
}

.footer-container .left > .icons-container {
  margin-top: 27px;
  display: flex;
  align-items: center;
  gap: 26px;
}

.footer-container .left > .icons-container a {
  color: #4a4a4a;
  font-size: 20px;
  transition: 0.3s ease;
}

.footer-container .left > p {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  color: #3f3f40;
}

.copywriting-container p {
  color: #3f3f40;
  font-size: 13px;
  font-weight: 300;
  text-align: center;
  padding: 16px;
  word-wrap: break-word;
}

.footer-container .right {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-top: 40px;
}

.footer-container .right h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  color: #22222271;
  margin-bottom: 20px;
}

.footer-container .right ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-container .right a {
  font-size: 14px;
  font-weight: 400;
  color: #22222271;
  line-height: 16px;
  transition: 0.3s ease;
}

.footer-container hr {
  display: none;
}

@media screen and (min-width: 992px) {
  .top-footer {
    padding: 60px 0;
  }

  .footer-container {
    padding: 42px 0;
    flex-direction: row;
  }

  .input-group {
    flex-direction: row;
  }

  .top-footer__container {
    flex-direction: row;
    gap: 64px;
  }

  .footer-container .left > .icons-container a:hover {
    color: #f7ca11;
  }

  .footer-container .right {
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 100px;
    grid-row-gap: 0px;
  }

  .footer-container hr {
    display: block;
    color: #28282818;
    margin: 0 90px;
  }

  .footer-container .right a:hover {
    color: #f7ca11;
  }

  .input-group__input[type='text'],
  .input-group__input[type='email'] {
    max-width: 233px;
    width: 100%;
  }
}

@media screen and (min-width: 1190px) {
  .input-group {
    flex-wrap: nowrap;
  }
}
